:root{
    --title: #E5316F;
    --mail: #4DCCF2;
    --card-text: #FFFFFE;
    --cards-bg: #0F0E17;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: 'Fredoka', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 40px auto;
    text-align: center;
}

.title{
    color: var(--title);
}

.container > p{
    margin-top: 30px;
    padding: 10px;
}

main{
    margin-top: 40px;
}
.box{
    width: calc(100% / 3 - 20px);
}

.cards{
    background-color: var(--cards-bg);
    color: var(--card-text);
    float: left;
    margin-top: 80px;
    margin: 10px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.push-left{
    float: left;
}

.img-profilo{
    float: left;
    width: 100px;
}

.description{
    float: left;
    text-align: left;
    padding: 10px;

}

.mail{
    color: var(--mail);
}

.description-text{
    margin-top: 5px;
    margin-bottom: 5px;
}
